
			/********************************
			 *	     BUTTONS 		*
			 ********************************/

.button-X{
	-fx-background-color: #c74d73;
	-fx-font-size: 20px;
	-fx-border-radius: 13;
-fx-background-radius: 13;
	-fx-text-fill: black;
	-fx-border-color: black;
}

.button-approve{
	-fx-background-color: #a8fcff;
	-fx-font-size: 18px;
}

.button-decline{
	-fx-background-color:  #ec699c;
	-fx-font-size: 18px;
}

.button-undo{
	-fx-background-color:  #8da9fe;
	-fx-font-size: 18px;
}

.button-edit{
	-fx-background-color:  #c6b9fc;
	-fx-font-size: 18px;
}

.button-save{
	-fx-background-color: #aaf0b0;
	-fx-font-size: 18px;	
}

.button-search{
	-fx-background-color:  #fded8a;
	-fx-font-size: 18px;	
}



			/********************************
			 *	DATE PICKER STYLES 	*
			 ********************************/


* {
	-fx-primary-color: #fded8a;
	-fx-secondary-color: #64d6bf;
	-fx-light-grey-color: #64d6bf;
    
	-fx-focus-color: -fx-secondary-color;
}

.date-picker{
	-fx-border-color:#ec699c;
	-fx-border-width: 1.5;
}

.date-picker .text-field{
	-fx-background-color: -fx-secondary-color;
	-fx-font-size:16px;
	
	
}
.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;

}

.date-picker .arrow-button .arrow {
	-fx-background-color: #c6b9fc;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}

	
.date-picker:disabled{
	-fx-opacity:1.0;
-fx-text-fill: white;
}


			/********************************
			 *	COMBOBOX STYLES 	*
			 ********************************/

.combo-box:disabled .text-field  {
    	-fx-opacity: 1.0; 
   	 -fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.combo-box .list-cell {
    -fx-background: white;
}

.combo-box:editable{
	-fx-border-color:#ec699c;
}
.combo-box .text-field{
	-fx-border-color:#64d6bf;
	-fx-border-width: 1.5;
	-fx-background-color: #64d6bf;
	-fx-background-radius: 14;
}

.combo-box .arrow-button .arrow {
	-fx-background-color: #ec699c;
}

.combo-box .arrow-button {
	-fx-background-color: transparent;
}



			/************************
			 *	TAB STYLES 	*
			 ************************/


.tab {
	-fx-background-color: #dd8af8;
    	-fx-background-insets: 0 2 0 2;
}

.tab:selected {
    	-fx-background-color: #8da9fe;
}

.tab-header-background {
	-fx-background-color: #fdfdc2;
}


